{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-6 mx-3 my-4">
<form method="POST" class="post-form" action="/myapp/update_task/{{task.id}}">
        {% csrf_token %}
{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endfor %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>

  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ task.id }}" class="form-control"/>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tiều đề:</label>
    <div class="col-sm-4">
        <input type="text" name="Name" id="id_Name" required maxlength="100" value="{{ task.Name}}" class="form-control"/>
    </div>
  </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nội dung:</label>
    <div class="col-sm-4">
        <input type="text" name="Content" id="id_Content" required maxlength="100" value="{{ task.Name}}" class="form-control"/>
    </div>
  </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">Bắt đầu:</label>
    <div class="col-sm-4">
        <input type="text" name="StartTime" id="id_StartTime" required maxlength="100" value="{{ task.StartTime|date:'Y-m-d H:i:s'}}" class="form-control"/>

    </div>
  </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">Kết thúc:</label>
    <div class="col-sm-4">
        <input type="text" name="EndTime" id="id_EndTime" required maxlength="100" value="{{ task.EndTime|date:'Y-m-d H:i:s'}}" class="form-control"/>
    </div>
    </div>
 <input type="hidden" name="Status" id="id_Status" required maxlength="100" value="{{ task.Status}}" class="form-control"/>
<input type="hidden" name="CreatedUser" id="id_CreatedUser" required maxlength="100" value="{{ task.CreatedUser.id}}" class="form-control"/>
         <div class="form-group row">
<label class="col-sm-2 col-form-label">Người thực hiện:</label>
<div class="col-sm-4">
    <select name="UserId" id="id_UserId" class="form-control">
        {% for element in users %}
            {% if task.UserId.id == element.id %}
        <option value={{ element.id }} selected>{{ element.Username }}
             {% else %}
                <option value={{ element.id }} >{{ element.Username }}
            {% endif %}
         {% endfor %}
    </select>
</div>
</div>


<div class="form-group row">
<label class="col-sm-1 col-form-label"></label>
<div class="col-sm-4">
<button type="submit" class="btn btn-success" name="UpdateTask">Cập nhật</button>
<button type="submit" class="btn btn-success" name="FinishTask">Hoàn thành</button>
</div>
</div>
</div>
 </div>
</form>
{#          <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <button type="submit" class="btn btn-success">Lưu</button>#}
{#      </form>#}
    </div>
</div>

{% endblock %}