{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
    <div class="col-2 mx-3 my-4">
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Lưu</button>
      </form>
    </div>
</div>
{#<form method="POST" class="post-form" action="/myapp/task">#}
{#        {% csrf_token %}#}
{#    <div class="container">#}
{#<br>#}
{#    <div class="form-group row">#}
{#    <label class="col-sm-1 col-form-label"></label>#}
{#    <div class="col-sm-4">#}
{##}
{#    </div>#}
{#  </div>#}
{#    <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Id:</label>#}
{#    <div class="col-sm-4">#}
{#      {{ form.id }}#}
{#    </div>#}
{#  </div>#}
{#  <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Tiều đề:</label>#}
{#    <div class="col-sm-4">#}
{#      {{ form.Name }}#}
{#    </div>#}
{#  </div>#}
{#  <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Nội dung:</label>#}
{#    <div class="col-sm-4">#}
{#      {{ form.Content }}#}
{#    </div>#}
{#  </div>#}
{#  <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Bắt đầu:</label>#}
{#    <div class="col-sm-4">#}
{#      {{ form.StartTime }}#}
{#    </div>#}
{#  </div>#}
{#   <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Kết thúc:</label>#}
{#    <div class="col-sm-4">#}
{#      {{ form.EndTime }}#}
{#    </div>#}
{#  </div>#}
{#   <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Trạng thái:</label>#}
{#    <div class="col-sm-4 form-control">#}
{#      {{ form.Status }}#}
{#    </div>#}
{#  </div>#}
{##}
{#   <div class="form-group row">#}
{#    <label class="col-sm-2 col-form-label">Người thực hiện:</label>#}
{#    <div class="col-sm-4 form-control">#}
{#        <select name="UserId" id="id_UserId">#}
{#            {% for element in users %}#}
{#            <option value={{ element.id }}>{{ element.Username }}#}
{#             {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#  </div>#}
{#    <div class="form-group row">#}
{#    <label class="col-sm-1 col-form-label"></label>#}
{#    <div class="col-sm-4 form-control">#}
{#    <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </div>#}
{#  </div>#}
{#    </div>#}
{#</form>#}

{% endblock %}