{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Bắt đầu</th>
        <th>Kết thúc</th>
             <th>Trạng thái</th>
         <th>Người làm</th>
          <th>Người tạo</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
{% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.Name }}</td>
        <td>{{ task.Content }}</td>
        <td>{{ task.StartTime|date:'d/m/Y H:i:s'  }}</td>
        <td>{{ task.EndTime|date:'d/m/Y H:i:s' }}</td>
         <td>
          {% if task.Status == 0 %}
              <p>Đang thực hiện</p>
          {% else %}
              <p>Hoàn thành</p>
          {% endif %}
         </td>
        <td>{{ task.UserId.Username}}</td>
        <td>{{ task.CreatedUser.Username}}</td>
        <td>
            <a href="/myapp/edit_task/{{ task.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/myapp/delete_task/{{ task.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/myapp/task" class="btn btn-primary">Thêm</a></center>
{% endblock %}