<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style>
      <style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
      flex-direction: row;
    }

    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }

    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  </style>
</style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
                        <li class="nav-item">
      <a class="nav-link" href="/myapp/show">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myapp/show_task">Task</a>
    </li>
    <li class="nav-item">

    </li>
  </ul>
 <ul class="navbar-nav ml-auto">
    <li class="nav-item">
         {{ request.session.logUN }}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/myapp/login">Đăng xuất</a>

    </li>

</ul>

</nav>
<div class="select2-container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>