{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-6 mx-3 my-4">
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{#    <button type="submit" class="btn btn-success">Save person</button>#}
{#  </form>#}
        <form method="POST" class="post-form" action="/myapp/update/{{user.id}}">
        {% csrf_token %}

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ user.id }}" class="form-control"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Username:</label>
    <div class="col-sm-4">
        <input type="text" name="Username" id="id_Username" required maxlength="100" value="{{ user.Username}}" class="form-control"/>
    </div>
  </div>
 <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-4">
        <input type="text" name="Password" id="id_Password" required maxlength="100" value="{{ user.password}}" class="form-control"/>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>

</form>
    </div>
</div>

{% endblock %}


