{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-2 mx-3 my-4">
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Lưu</button>
      </form>
    </div>
</div>

{% endblock %}
