{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.Username }}</td>
        <td>
            <a href="/myapp/edit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/myapp/delete/{{ user.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/myapp/user" class="btn btn-primary">Add New Record</a></center>
{% endblock %}